body
{
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 40px;
}
input, button
{
    padding: 10px;
    margin: 5px;
    width: 180px;
}
button
{
    background: navy;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}
button:hover{background: dodgerblue;}
#resultado
{
    margin-top: 20px;
    font-size: 20;
    color: green;
}